$player-gap: 30px;

.player-list {
  margin: $player-gap;
  width: calc(100% - #{2 * $player-gap});
  border-collapse: collapse;
}

.player {
  display: flex;
  align-items: center;
  padding: 15px;

  + .player {
    border-top: 1px solid #949494;
  }

  &-avatar {
    height: 80px;
    width: 80px;
    filter: drop-shadow(0px 0px 5px);
    image-rendering: pixelated;
    margin-right: $player-gap;
  }

  &-name {
    flex-grow: 1;
    height: min-content;
    font-size: 1.3em;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
