# Docker data
data/

# Build
build/

# Env files
.env

# Deps
node_modules/
.yarn/
.pnp
.pnp.*

# Log files
debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/pnpm-debug.log*

# IDEs
mc-plugin/.project

# MacOS
.DS_Store
.AppleDouble
