.player-list {
  width: 100%;
  padding: 20px 30px;
}

.player {
  display: flex;
  align-items: center;
  padding: 20px 15px;

  &:not(:first-of-type) {
    border-top: 1px solid #b5b5b5;
  }

  &-avatar {
    height: 50px;
    width: 50px;
    filter: drop-shadow(0 0 4px #747474);
    image-rendering: pixelated;
    margin-right: 30px;
  }

  &-name {
    flex-grow: 1;
    height: min-content;
    font-size: 1.3em;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
