.player-list {
  width: 100%;
  padding: 20px 30px;
}

.player {
  display: flex;
  align-items: center;
  padding: 1.5rem 1rem;
  gap: 2rem;

  &:not(:first-of-type) {
    border-top: 1px solid #b5b5b5;
  }

  &-avatar {
    height: 50px;
    width: 50px;
    filter: drop-shadow(0 0 4px #747474);
    image-rendering: pixelated;
  }

  &-name {
    flex-grow: 1;
    height: min-content;
    font-size: 1.3em;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &-volume {
    width: 10rem;
    height: 1rem;
    border: 1px solid #00a182;
    border-radius: 0.25rem;
    overflow: hidden;

    &-percentage {
      background: #2beb2b;
      height: 100%;
    }
  }

  &-conn-state {
    height: 0.75rem;
    min-width: 0.75rem;
    border-radius: 50%;
    background: #de002b;
    &[data-state='new'],
    &[data-state='connecting'] {
      background: #fcbb2c;
    }
    &[data-state='connected'] {
      background: #00a182;
    }
  }
}
